<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Welcome</ion-text>
        <p>
          <ion-text color="white"><strong>Username</strong></ion-text>
        </p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="../../../../assets/user-default.png" alt="" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <swiper-container
    class="banners"
    [pagination]="true"
    [pagination-dynamic-bullets]="true"
  >
    <swiper-slide *ngFor="let account of accounts">
      <div align="center">
        <ion-label>
          <span>Total Balance</span>
          <p class="acc-amt">
            <ion-text color="white"
              >{{account?.balance | currency: 'BRL'}}</ion-text
            >
          </p>
          <span>{{account?.acc_no}}</span>
        </ion-label>
      </div>
    </swiper-slide>
  </swiper-container>

  <swiper-container
    [slidesPerView]="3.5"
    class="feature-list"
    *ngIf="features.length > 0"
  >
    <swiper-slide *ngFor="let feature of features">
      <div>
        <ion-button slot="icon-only" [color]="feature.color">
          <ion-icon [name]="feature.icon"></ion-icon>
        </ion-button>
        <ion-label>{{ feature.name }}</ion-label>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
