<ion-content>
  <div><img src="../../../assets/imgs/initial/bank-bg2.avif" /></div>
  <ion-header class="ion-text-center ion-no-border">
    <ion-toolbar color="transparent">
      <img src="../../../assets/logo.png" />
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-text color="secondary">
      <h2>O Banco Digital</h2>
      <h2>para desenvolvedores</h2>
      <h2>na sua mão.</h2>
    </ion-text>
    <ion-button color="secondary" expand="full" routerLink="login">
      <ion-text color="primary">Vamos Começar</ion-text>
    </ion-button>
    <p>
      <ion-text color="secondary">
        *Nós nunca pediremos sua conta e sua senha, caso aconteça entre em
        contato conosco.
      </ion-text>
    </p>
  </div>
</ion-content>
